@font-face {
  font-family: 'Roboto';
  src: url('/public/fonts/Roboto-Regular.woff2') format('woff2');
}

body {
  display: block;
  margin: 0px;
}

html,body{
  overflow-y:hidden;
}

.player__container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  height: 100vh;
  vertical-align: middle;
}

.player__video {
  width: 100%;
  height: 100%;
  margin: auto;
}

.player__container_controls-top, 
.player__container_controls {
  position: absolute;
}

.player {
  background: black;
}